{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19|{{ data.LiveDataByDepartement.0.nom }}
{% endblock %}

{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Les chiffres du COVID-19 -
            {{ data.LiveDataByDepartement.0.nom }}</h1>
        <p class="lead">Source :
            {{ data.LiveDataByDepartement.0.sourceType }}</p>
        <p class="lead">Date d'actualisation :
            {{ data.LiveDataByDepartement.0.date }}</p>
    </div>

    <div class="card mb-5 shadow-lg">
        <div class="card-body">
            {{ render_chart(chart) }}
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-header h-50">
                    <h4 class="my-0 fw-normal">Nombre d’hospitalisations (nouvelles)</h4>
                </div>
                <div class="card-body bg-warning">
                    <h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.hospitalises }} ({{ data.LiveDataByDepartement.0.nouvellesHospitalisations }})</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-header h-50">
                    <h4 class="my-0 fw-normal">Nombre de personnes en réa (nouvelles)</h4>
                </div>
                <div class="card-body bg-danger">
                    <h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.reanimation }} ({{ data.LiveDataByDepartement.0.nouvellesReanimations }})</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-header h-50">
                    <h4 class="my-0 fw-normal">Nombre de personne décédées </h4>
                </div>
                <div class="card-body bg-dark text-light">
                    <h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.deces }}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-header h-50">
                    <h4 class="my-0 fw-normal">Nombre de personnes guéris</h4>
                </div>
                <div class="card-body bg-success">
                    <h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.gueris }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}